<mat-card class="meeting-container">
    <mat-card-header>
        <mat-card-title>Schedule Meeting</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form class="form" [formGroup]="scheduleMeetingForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <div class="full-width-element">
                <mat-form-field appearance="outline" >
                    <mat-label>Topic</mat-label>
                    <input matInput placeholder="Topic" formControlName="name">
                </mat-form-field>
            </div>
            <div class="inline-block-element">
                <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Time</mat-label>
                    <input matInput placeholder="Time" type="time" formControlName="time" min="08:00" max="09:00" class="without_ampm" 
                    id="appt-time" name="appt-time">
                </mat-form-field>
            </div>
            <div class="inline-block-element">
                <mat-form-field appearance="outline">
                    <mat-label>Duration (hours)</mat-label>
                    <input type="number" matInput placeholder="Duration" formControlName="duration_hours">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Duration (minutes)</mat-label>
                    <input type="number" matInput placeholder="Placeholder" formControlName="duration_minutes">
                </mat-form-field>
            </div>
            
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-button mat-raised-button color="primary">Save</button>
        </mat-card-actions>
    </form>
</mat-card>